{% extends 'base.html' %}
{% block content %}
<section class="projects-section">
    <h1 class="page-title fade-in">Project Categories</h1>
    
    
    <div class="projects-grid">

        <div class="project-card slide-up">
            <div>
                <div class="project-icon-wrapper">
                    <i class="fa-solid fa-globe project-icon"></i>
                </div>
                <h2>Web Scraping</h2>
                <p>Learn BeautifulSoup, Requests and Selenium to scrape websites and automate data collection.</p>
            </div>
            <a href="/scraping" class="btn primary-btn card-action-btn">View Details <i class="fa-solid fa-arrow-right"></i></a>
        </div>

        <div class="project-card slide-up" style="transition-delay: 0.1s;">
            <div>
                <div class="project-icon-wrapper">
                    <i class="fa-solid fa-robot project-icon"></i>
                </div>
                <h2>FinMentor AI</h2>
                <p>Built by Team Mind_Sparks - AI-powered financial mentor.</p>
            </div>
            <div class="card-buttons">
                <a href="https://finmentor-ai-blue.vercel.app/" target="_blank" class="btn primary-btn card-action-btn">Live Demo <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                <a href="https://github.com/lovisha-jaat/finmentor-AI" target="_blank" class="btn secondary-btn card-action-btn">GitHub <i class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <div class="project-card slide-up" style="transition-delay: 0.1s;">
            <div>
                <div class="project-icon-wrapper">
                    <i class="fa-solid fa-robot project-icon"></i>
                </div>
                <h2>FAQFlow AI</h2>
                <p>Built by Team Mind_Sparks - AI-powered FAQ assistant.</p>
            </div>
            <div class="card-buttons">
                <a href="https://faq-flow-gztg.onrender.com" target="_blank" class="btn primary-btn card-action-btn">Live Demo <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                <a href="https://github.com/lovisha-jaat/Faq_Flow" target="_blank" class="btn secondary-btn card-action-btn">GitHub <i class="fa-brands fa-github"></i></a>
            </div>
        </div>

    </div>
</section>
{% endblock %}
